* {

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.cabeçalho
{
    position: fixed;
    display: flex;
    width: 100%;
    height: 54px;
    border: 1px solid red;
}
.topo
{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    width: 100%;
    max-width: 935px; 
}
.logo-instagram
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.logo-instagram > img
{
    position: fixed;
    display: flex;
    width: 150px;
}
.menu
{
    display: flex;
    position: relative;
    width: 10%;
    bottom: 0;
    right: 0;
    height: 54x;
    margin-bottom: 30px;
    
}
.menu-direita
{

    max-width: 935px; 
    display: flex;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: space-between; 
}
.menu-direita > ion-icon
{
    display: flex;
    height: 22px;
    width: 22px;
    cursor: pointer;
    padding: 10px;
}
.conteudo
{
    width: 100%; 
    max-width: 935px; 
    display: flex;
    align-items: center;
    justify-content: space-around; 

}
.story {
    display: flex;
    justify-content: center; 
    width: 100%; 
    padding: 0 20px; 

}
.linha1 {
    width: 100%;
    max-width: 935px; 
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 80px;
}
.full-background {
    width: 100%;
    height: 100vh; /* Ocupa 100% da altura da viewport */
    background-size: cover;
    display: flex;
}

.central 
{
    width: 100%;
    max-width: 935px; /* Limita o conteúdo a 935px */
    margin: 0 auto;
    padding: 20px;
}

.conteudo {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.instagram {
    width: 100%;
    max-width: 614px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 88px;
    justify-content: center;
}

.story {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    width: 614px;
    height: 118px;
    overflow: hidden;
    margin-top: 10px;
}

.story-background {
    position: relative;
    width: 66px;
    height: 66px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-img {
    position: absolute;
    margin-top: 10px;
    top: 0;
    left: 0;
    width: 66px;
    height: 66px;
}

.story-img {
    margin-top: 10px;
    margin-left: 1px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
}

.txt, .txt1, .txt2 {
    position: absolute;
    margin-top: 80px;
    font-size: 14px;
    text-align: center;
    color: #000;
    white-space: nowrap;
}

.story-background:last-child {
    margin-right: -50px;
}
.feed 
{
    width: 614px;
    height: 790px;
    position: absolute; 
    background-color: #FFFFFF; 
    margin-top: 150px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
.post
{

    margin-top: 5px;
    width: 613px;
}
.usuario
{
    margin-top: 5px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
}
.nick
{
    position: absolute;
    margin-top: 25px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
}
.curtidas
{
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
}
.meowed>ion-icon,
.meowed2>ion-icon,
.barked>ion-icon
{
    height: 30px;
    width: 30px;
    padding: 10px;
}
.meowed2-salvar2,
.barked-salvar,
.meowed-salvar1
{

    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 5;
    right: 0;
}
.barked
{
    height: 790px;
    margin-top: 70px;
    background-color: #FFFFFF; 
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
.meowed2
{
    height: 790px;
    margin-top: 80px;
    background-color: #FFFFFF; 
    border-radius: 3px;
    border: 1px solid #DBDBDB;

}
.lateral-direita
{
    display: flex;
    flex-direction: row;

}
.perfil-usuario
{
    display: flex;
    position: absolute;
    width: 300px;
    height: 400px;
    margin-top: 20px;
    margin-left: 50px;
}
.perfil-usuario > img
{
    border-radius: 50%;
    width: 56px;
    height: 56px;

}
h1
{
    position: absolute;
    right: 0;
    top:0;
    left: 0;
    margin-top: 15px;
    margin-left: 80px;
    font-size: 14px;
    font-weight: bold;
}
h2
{
    position: absolute;
    right: 0;
    top:0;
    left: 0;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 14px;
}
h3
{
    position: absolute;
    right: 0;
    top:0;
    left: 0;
    margin-top: 80px;
    font-size: 14px;

}
.perfil-usuario-seguir
{

    display: flex;
    position: absolute;
    width: 293px;
    height: 400px;
    margin-top: 150px;
    margin-left: 20px;

}
.perfil-usuario-seguir > img
{

    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    cursor: pointer; 

}
.sugestao
{
    position: absolute;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer; 
}
.seguir
{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 15px;
    margin-left: 250px;
    font-size: 14px;
    color: #139EF2;
    cursor: pointer; 
}
.perfil3
{
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    cursor: pointer; 
}
.sugestao2
{
    position: absolute;
    margin-top: 75px;
    font-size: 14px;
    cursor: pointer; 
}
.seguir2
{
    position: absolute;
    margin-top: 75px;
    margin-left: 250px;
    font-size: 14px;
    color: #139EF2;
    cursor: pointer; 
}
.perfil4
{
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 120px;
    cursor: pointer; 
}
.sugestao3
{
    position: absolute;
    margin-top: 135px;
    font-size: 14px;
    cursor: pointer; 
}
.seguir3
{
    position: absolute;
    margin-top: 135px;
    margin-left: 250px;
    font-size: 14px;
    color: #139EF2;
    cursor: pointer; 
}
.perfil5
{
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 180px;
    cursor: pointer; 
}
.sugestao4
{
    position: absolute;
    margin-top: 195px;
    font-size: 14px;
    cursor: pointer; 
}
.seguir4
{
    position: absolute;
    margin-top: 195px;
    margin-left: 250px;
    font-size: 14px;
    color: #139EF2;
    cursor: pointer; 
}
.perfil6
{
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 240px;
    cursor: pointer; 

}
.sugestao5
{
    position: absolute;
    margin-top: 255px;
    font-size: 14px;
    cursor: pointer; 

}
.seguir5
{
    position: absolute;
    margin-top: 255px;
    margin-left: 250px;
    font-size: 14px;
    color: #139EF2;
    cursor: pointer; 
}
.direitos
{

    position: absolute;
    color:#C7C7C7;
    margin-left: 10px;
    font-size: 11px;
    cursor: pointer;
    margin-top: 320px;
}
.coppyright
{
    position: absolute;
    color: #C7C7C7;
    margin-left: 10px;
    font-size: 11px;
    cursor: pointer;
    margin-top: 380px;
}
@media ( max-width: 935px)
{

    .lateral-direita {
        display: none; 
    }
    
    .menu
    {
        display: flex;
        height: 22px;
        width: 22px;
        cursor: pointer;
        margin-right: 150px;
        margin-top: 25px;
    }
    
    .conteudo 
    {
        display: flex;
        justify-content: center; 
        width: 100%; 
        padding: 0 20px; 
    }
    
    .instagram {
        display: flex;
        max-width: 935px; 
        width: 100%;
        margin-left: 100px;
    }
}
@media (max-width: 614px) {
    .menu-direita
    {
        display: none;
    }
    .story
    {
        display: flex;
        flex-direction: row;
        width: 614px;
        height: 118px;
        overflow: hidden;
        margin-top: 10px;
        border: none;
        margin-right: 100px;
    }
}