body {
    font-family: 'Encode Sans', sans-serif;
}
.topo
{

    margin-top: 22px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.borda-customizada 
{
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 1250px; 
    height: 1px; 
    background-color: #F5F6F7; 
}
.menu 
{
    margin: 0 auto;
    width: 1250px;

}
.portais 
{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin-top: 15px;
    
}
.g1
{

    width: 40px;
    height: 40px;
    font-weight: bold;
    color: #c3170c;
}
.globo
{

    width: 89px;
    height: 40px;
    font-weight: bold;
    color: #1E4B9B;
}
.valor
{

    width: 70px;
    height: 40px;
    font-weight: bold;
    color: #006766;
}
.ge
{

    width: 45px;
    height: 40px;
    font-weight: bold;
    color: #07AA47;
}
.cartola
{

    width: 86px;
    height: 40px;
    font-weight: bold;
    color: #E3662B;
}
.googleplay
{

    width: 133px;
    height: 40px;
    font-weight: bold;
    color: #FB0735;
}
.dropz
{

    width: 75px;
    height: 40px;
    font-weight: bold;
    color: #FF75BB;
}
.gshow
{

    width: 84px;
    height: 40px;
    font-weight: bold;
    color: #EC7D00;
}
.quem
{

    width: 74px;
    height: 40px;
    font-weight: bold;
    color: #323333;
}
.receitas
{

    width: 93px;
    height: 40px;
    font-weight: bold;
    color: #A81D83;
}
.contudo 
{
    display: flex;
    width: 1250px;
    margin: 0 auto; 
    display: flex; 
    align-items: stretch;
}
.esquerda {
    width: 50%; 
    padding: 20px; 
}
.noticia-p1
{

    margin-top: 15px;
    font-size: 52px;
    font-weight: bold;
    color: #C4160C;
}
.noticia-p2
{
    margin-top: 15px;
    font-size: 18px;
    color: #303134;
}
.borda-esquerda
{
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 1px; 
    background-color: #EBEDEF;
}
.img-noticias
{
    margin-top: 15px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.noticias-img
{

    margin-top: 15px;
    border-radius: 12px;
}
.cor-red
{
    
    margin-top: 15px;
    font-size: 14px;
    color: #C4170C;

}
.cor-black
{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #2F3134;
}
.cor-cinza
{
    margin-top: 15px;
    font-size: 14px;
    color: #2F3134;
}
.cor-verde
{
    margin-top: 15px;
    font-size: 14px;
    color: #16AE54;
}
.cor-amarela
{
    margin-top: 15px;
    font-size: 14px;
    color: #EC8006;
}
.borda-noticia
{
    margin-top: 25px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 1px; 
    background-color: #EBEDEF;
}
.borda-separadora 
{
    margin-top: 25px;
    width: 1px; 
    background-color: #EBEDEF; 
    height: 750px; 
    left: 817px;
    top: 162px;
}
.direita
{
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
	flex-direction: column;
}
.noticias-img2 > img
{
    margin-top: 10px;
    border-radius: 12px;
    height: 128px;
    width: 240px;

} 
.borda-separadora1
{
    margin-top: 25px;
    margin-left: 25px;
    width: 1px; 
    background-color: #EBEDEF; 
    height: 750px; 
    left: 817px;
    top: 1128px;
}