 * {

    box-sizing: border-box;
}
body{

    background-color:#FFFFFF;
    
}
h1{

    font-size: 20px;
}
a
{
    font-size: 15px;
    font-weight: bold;
}
.topo
{
    height: 85px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}
.Menu{

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Menu > img{

    
    margin-left: 25px;
    width: 40px;
    height: 40px;
}
.separador-vertical
{
    
    margin-left: 25px;
    height: 50px;
    background-color: black;
    width: 2px;
}
.logo{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.logo > img{

    width: 40px;
    height: 40px;
    object-fit: cover
}
.icon-youtube > img
{
    width: 40px;
    height: 40px;
    justify-content: flex-start;

}
.opcao
{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.opcao > img
{

    margin-left: 50px;
    width: 40px;
    height: 40px;
}
.perfil
{

    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%

}
.menu-lateral
{
    margin-left: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    border-radius: 10px;
}
.botao-menu
{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 2px;
    border-radius: 10px;
}
.botao-menu:hover
{
    cursor: pointer;
    background-color: #F2F2F2;
    
}
.botao-menu img
{

    width: 30px;
    height: 30px;
}
.youtube
{
    font-size: 50px;
}
.recomendado{

    background-color: rgb(255, 255, 255);
}
.recomendados-titulo
{
    margin-top: 40px;
    margin-left: 80px;
}
.video{

    margin-top: 40px;
    margin-left: 35px;

}
.videos
{
    display: flex;
    flex-wrap: wrap;
}
.img
{

    width: 400px;
    
}
.conteudo
{

    display: flex;
    margin-top: 85px;
}
.thumb
{
    position:relative;

}
.tempo-video
{

    background-color:#0C0B0C;
    color: white;
    width: 35px;
    position: absolute;
    bottom: 85px;
    right: 5px;
    font-family: 'Roboto', sans-serif;
}
@media ( max-width: 600px)
{

    .menu-lateral
    {
        display: none;
    }
    .video
    {
        justify-content: center;
    }
}
@media ( max-width: 900px)
{
    .pesquisa
    {

        display: none;
    }
}