* {

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.cabeçalho
{
    position: fixed;
    display: flex;
    width: 100%;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    height: 54px;
    z-index: 1;
}
.topo-logo
{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    width: 100%;
    max-width: 935px; 
}
.topo-logo > img
{
    position: fixed;
    display: flex;
    width: 150px;
    margin-top: 15px;
    margin: 15px 20px 0 0;
}
.menu-direita
{
    background-color: #FFFFFF;
    width: 200px;
    max-width: 935px; 
    display: flex;
    position: absolute;
    border: 0;
    right: 0;
    height: 54px;
    align-items: center;
    display: flex;
    justify-content: space-between; 
    padding: 10px;
    margin-right: 300px;
}
.menu-direita > ion-icon
{
    height: 22px;
    width: 22px;
    cursor: pointer; 
}
.main
{
    width: 100%; 
    max-width: 935px; 
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.conteudo 
{
    display: flex;
    justify-content: center; 
    width: 100%; 
    padding: 0 20px; 
    z-index: 1;
}

.instagram {
    width: 100%;
    max-width: 614px;
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 80px;

}
.story {
    display: flex;
    overflow-x: hidden; /* Esconde o último story parcialmente */
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    flex-direction: row;
    width: 614px;
    max-width: 614px;
    height: 118px;

    padding: 10px;
    padding-right: 50px; /* Corta o último story, deixando parte dele visível */
    position: relative;
}

.story-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px; /* Largura fixa para cada story */
    flex-shrink: 0; /* Evita que os stories encolham */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.background-img 
{
    display: flex;
    max-width: 614px;    
    margin-top: 10px;
    margin-left: 10px;
    top: 0;
    width: 66px;  
    height: 66px;
}

.story-img 
{
    position: absolute;
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    max-width: 614px;
    border-radius: 50%;
    margin-bottom: 20px;
    height: 56px; 
}
.txt 
{   position: absolute;
    display: flex;
    max-width: 614px;
    margin-top: 80px;
    margin-left: 25px;
    font-size: 14px;
    text-align: center;
    color: #000;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.story-background:last-child 
{
    margin-right: -30px; 
    
}
.txt1
{
    position: absolute;
    margin-top: 80px;
    margin-right: 3px;
    font-size: 14px;
    text-align: center;
    color: #000;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.txt2
{
    position: absolute;
    margin-top: 80px;
    margin-left: 5px;
    font-size: 14px;
    text-align: center;
    color: #000;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.feed 
{
    width: 614px;
    height: 790px;
    position: absolute; 
    background-color: #FFFFFF; 
    margin-top: 140px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
.usuario
{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 20px;
}
.nick
{
    position: absolute;
    margin-top: 35px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
}
.curtidas
{
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
}
.comentario
{
    
    margin-left: 15px;
    font-size: 14px;
}
.post
{

    width: 612px;
    max-width: 612px; 
    margin-top: 5px;
}
.barked>ion-icon
{

    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.meowed>ion-icon
{
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.meowed2>ion-icon
{

    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.meowed-salvar1
{

    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-bottom: 35px;
}
.meowed-salvar1>ion-icon
{

    height: 30px;
    width: 30px;
}
.barked
{
    height: 790px;
    margin-top: 70px;
    background-color: #FFFFFF; 
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
.barked-salvar
{
    position: absolute;
    margin-right: 15px;
    margin-bottom: 10px;
    right: 0;
}
.barked-salvar>ion-icon
{

    height: 30px;
    width: 30px;
}
.meowed2
{
    height: 790px;
    margin-top: 80px;
    background-color: #FFFFFF; 
    border-radius: 3px;
    border: 1px solid #DBDBDB;

}
.meowed2-salvar2
{
    position: absolute;
    margin-right: 15px;
    margin-bottom: 10px;
    right: 0;
}
.lateral-direita
{
    display: flex;
    flex-direction: row;

}
.perfil-usuario
{
    display: flex;
    position: absolute;
    width: 300px;
    height: 400px;
    margin-top: 20px;
    margin-left: 50px;
}
.perfil-usuario > img
{
    border-radius: 50%;
    width: 56px;
    height: 56px;

}
h1
{
    position: absolute;
    right: 0;
    top:0;
    left: 0;
    margin-top: 15px;
    margin-left: 80px;
    font-size: 14px;
    font-weight: bold;
}
h2
{
    position: absolute;
    right: 0;
    top:0;
    left: 0;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 14px;
}
h3
{
    position: absolute;
    right: 0;
    top:0;
    left: 0;
    margin-top: 80px;
    font-size: 14px;

}
.perfil-usuario-seguir
{

    display: flex;
    position: absolute;
    width: 293px;
    height: 400px;
    margin-top: 150px;
    margin-left: 20px;

}
.perfil-usuario-seguir > img
{

    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    cursor: pointer; 

}
.sugestao
{
    position: absolute;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer; 
}
.seguir
{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 15px;
    margin-left: 250px;
    font-size: 14px;
    color: #139EF2;
    cursor: pointer; 
}
.perfil3
{
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 60px;
    cursor: pointer; 
}
.sugestao2
{
    position: absolute;
    margin-top: 75px;
    font-size: 14px;
    cursor: pointer; 
}
.seguir2
{
    position: absolute;
    margin-top: 75px;
    margin-left: 250px;
    font-size: 14px;
    color: #139EF2;
    cursor: pointer; 
}
.perfil4
{
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 120px;
    cursor: pointer; 
}
.sugestao3
{
    position: absolute;
    margin-top: 135px;
    font-size: 14px;
    cursor: pointer; 
}
.seguir3
{
    position: absolute;
    margin-top: 135px;
    margin-left: 250px;
    font-size: 14px;
    color: #139EF2;
    cursor: pointer; 
}
.perfil5
{
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 180px;
    cursor: pointer; 
}
.sugestao4
{
    position: absolute;
    margin-top: 195px;
    font-size: 14px;
    cursor: pointer; 
}
.seguir4
{
    position: absolute;
    margin-top: 195px;
    margin-left: 250px;
    font-size: 14px;
    color: #139EF2;
    cursor: pointer; 
}
.perfil6
{
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 240px;
    cursor: pointer; 

}
.sugestao5
{
    position: absolute;
    margin-top: 255px;
    font-size: 14px;
    cursor: pointer; 

}
.seguir5
{
    position: absolute;
    margin-top: 255px;
    margin-left: 250px;
    font-size: 14px;
    color: #139EF2;
    cursor: pointer; 
}
.direitos
{

    position: absolute;
    color:#C7C7C7;
    margin-left: 10px;
    font-size: 11px;
    cursor: pointer;
    margin-top: 320px;
}
.coppyright
{
    position: absolute;
    color: #C7C7C7;
    margin-left: 10px;
    font-size: 11px;
    cursor: pointer;
    margin-top: 380px;
}
@media ( max-width: 2000px)
{
    .menu-mobile
    {
        display: none;
    }
    .menu-direita
    {
        margin-right: none;
    }
}
@media ( max-width: 935px)
{

    .menu-mobile
    {
        display: none;
    }
    .lateral-direita {
        display: none; 
    }
    
    .menu-direita {
        position: absolute;
        margin-right:80px;
    }
    
    .conteudo {
        display: flex;
        justify-content: center; 
        width: 100%; 
        padding: 0 20px; 
    }
    
    .instagram {
        display: flex;
        max-width: 935px; 
        width: 100%;
        margin-left: 100px;
    }
}
@media (max-width: 614px) {
    .post {
        width: 100%;
    }
    .menu-direita {
        display: none;
    }
    .menu-mobile {
        display: flex;
        background-color: rgb(255, 255, 255);
        width: 100%;
        max-width: 614px;
        height: 50px;
        position: fixed;
        bottom: 0; 
        left: 0;
        justify-content: space-between;
        z-index: 2; 
        border-top: 1px solid #DBDBDB;
        transition: transform 0.3s ease-in-out;
    }
    .menu-mobile > ion-icon {
        height: 30px;
        width: 30px;
        cursor: pointer; 
        padding: 10px;
    }
    .topo-logo {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
    }
    .story {
        width: 100%;
        max-width: 614px;
        display: flex;
        left: 0;
        justify-content: center; 
        margin-left: 100px;
    }
    .story-background
    {
        max-width: 614px;
        overflow: visible;
    }
    .feed {
        margin-top: 120px;
    }
    .conteudo {
        display: flex;
        position: absolute;
        max-width: 614px; 
        justify-content: center; 
    }
    .instagram {
        display: flex;
        max-width: 614px;
        width: 100%;
        margin-right: 140px; 
        overflow: none;
    }
}