* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden; 
}

.conteudo {
    width: 100%; 
    max-width: 414px;
    height: 100%;
    background-color: #EEEEEE;
    overflow-x: hidden; 
}

.DrivenEats {
    position: fixed;
    width: 100%; 
    max-width: 414px;
    height: 92px;
    padding-top: 20px;
    background-color: #CF2B2B;
}

.DrivenEats > h1 {
    color: white;
    font-size: 44px;
    margin-left: 20px;
}

.DrivenEats > h2 {
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

.nomeprato {
    font-size: 16px;
    color: #333333;
    margin-left: 14px;
    font-weight: bold;
    margin-top: 15px;
}

.descriçãoprato {
    font-size: 15px;
    color: #333333;
    margin-left: 14px;
    margin-top: 5px;
}

.valor {
    font-size: 16px;
    color: #333333;
    margin-left: 14px;
    margin-top: 15px;
    font-weight: bold;
}

.opcao-prato, .opcao-bebida, .opcao-sobremesa {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    padding-bottom: 15px;
    padding-left: 14px; 
}

.primeiro-prato {
    margin-top: 100px;
    width: 250px;
    height: 25px;
    color: #333333;
    font-size: 26px;
    margin-left: 14px;
    font-weight: bold;
}

.prato-um, .prato-dois, 
.bebida-um, .bebida-dois, 
.sobremesa-um, .sobremesa-dois {
    width: 172px;
    height: 216px;
    border-radius: 9px;
    background-color: white;
    margin-top: 25px
}
.sobremesa-tres, .bebida-tres, .prato-tres
{
    width: 172px;
    height: 216px;
    border-radius: 9px;
    background-color: white;
    margin-top: 25px;
    margin-right: 15px;
}

.prato-um > img, .prato-dois > img, .prato-tres > img,
.bebida-um > img, .bebida-dois > img, .bebida-tres > img,
.sobremesa-um > img, .sobremesa-dois > img, .sobremesa-tres > img {
    width: 144px;
    height: 87px;
    margin-top: 5px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

.primeiro-bebida {
    width: 250px;
    height: 25px;
    color: #333333;
    font-size: 26px;
    margin-left: 14px;
    font-weight: bold;
}

.primeira-sobremesa {
    width: 250px;
    height: 25px;
    color: #333333;
    font-size: 25px;
    margin-left: 14px;
    font-weight: bold;
}
.ajuste
{

    margin-top: 90px;
}
.compra {
    position: fixed; 

    bottom: 0px; 
    left: 0; 
    width: 100%; 
    max-width: 414px; 
    background-color: white;
    height: 92px;
    padding: 0 15px; 
}
.botão {
    margin-top: 15px;
    background-color: #CBCBCB;
    width: 100%; 
    height: 61px;
    border-radius: 50px;
    border: white;
    font-size: 20px;
    text-align: center; 
}
.white
{
    color: white;
}

.selecionado {
    border: 3px solid green; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 414px;
    height: 100%;
    background-color: #FFFFFFE5;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #50d074;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 22px;
}

.modal p {
    margin: 10px 0;
    color: white;
}

.modal button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal .confirmar {
    background-color: rgb(255, 255, 255);
    color: green;
    border-radius: 50px;
}

.modal .cancelar {
    background: #50d074;
    color: white;
}